<div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">

    <md-card elevation="5" fxFlex>

      <md-card-subtitle>
        <h2 style="color:white;">Angular4.x Spring Boot JWT</h2>
      </md-card-subtitle>

      <md-card-title>
        <h2 style="color:#FF00FF;">{{title}}</h2>
      </md-card-title>

      <md-card-content>

        <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <md-input-container style="line-height:25px;color:blue;background-color:yellow;">
            <input  mdInput formControlName="username" placeholder="Username">
          </md-input-container>
          <md-input-container style="line-height:25px;color:blue;background-color:yellow;">
            <input mdInput formControlName="password" type="password" placeholder="Password">
          </md-input-container>
          <button type="submit" [disabled]="!loginForm.form.valid" 
          style="color:yellow;background-color:red;font-weight:bold;"
          md-raised-button >
          Login</button>
        </form>

        <md-spinner *ngIf="submitted" mode="indeterminate"></md-spinner>

       

        <br>
       

      
      </md-card-content>

    </md-card>

</div>
